
<!-- Toolbar -->
<div class="image" >
  <img
    width="400"
    height="200"
    alt="Angular Logo"
    src="../assets/plante2.jpg"
  />



<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="titre">
    <span>Bienvenue sur {{ title }}, le forum de l'isen environnement</span>

  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive = "active"><a routerLink="accueil/" >Accueil</a></li>
            <li routerLinkActive = "active"><a routerLink="news/" >Actualités</a></li>
            <li routerLinkActive = "active"><a routerLink="cook/" >Cuisine</a></li>
            <li routerLinkActive = "active"><a routerLink="tips/" >Tips</a></li>
            <li routerLinkActive = "active"><a routerLink="forum/" >Forum</a></li>
            
            
        </ul>
    </div>

</nav>
<router-outlet></router-outlet>